/* LAYOUT AND GRID SYSTEM
--------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira sans:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito Sans:wght@400;500&display=swap');

p {
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 20px;
  color: #4b5563;
  line-height: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c2f3b;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background: #ffffff;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  box-sizing: border-box;
  /* overflow-y: hidden; */
  scroll-behavior: smooth;
  width: 100%;
  background: #ffffff;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container,
.container-xs {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  padding: 60px 12px;
}
@media (min-width: 481px) {
  .container,
  .container-xs {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.container {
  max-width: 1128px;
}
.container-xs {
  max-width: 668px;
}
[class*='container'] .container-xs {
  max-width: 620px;
}

@media (min-width: 769px) {
  .container {
    width: 90%;
  }
}
